#motherbox {
  display: flex;
}

#imagearea {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#textboxarea {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}


@media(min-width: 320px) {

body {
background-color: #00FFFF;
}

 #imagearea {
   width: 50%;
   align-items: center;
 }

 #textboxarea{
  width: 50%;
   align-items: center;
}
}



@media(min-width: 768px) {


}


@media(min-width: 1280px) {

}

